.group
  .back
    %a{href: "/rooms"}←首页
  .title
    %h1
      欢迎
      %span
        =current_user.name
      进入讨论组列表
  .add-group
    %a.jump-to-add-group-page{href: "/rooms/add_group"}创建讨论组+
  .group-list
    .list-head
      %label 用户所在讨论组: 
      %input.input-into{placeholder: "请输入用户名..."}
      %button.search-group 搜索
    .group-names
      %label 讨论组↓:
      %table
        -@group.each do |g|
          %tr
            %td
              %label 组名: 
              %a.name{href: "javascript:;", data:{members: g.member,group_id: "#{g.id}", current_user: "#{current_user.name}"}}
                =g.name
            %td
              %span 创建者: 
              -if g.creator == current_user.name
                %a{href: "javascript:;"} 
                  =g.creator
              -else
                %a{href: "/rooms/private_room?receiver=#{g.creator}"} 
                  =g.creator
            %td
              %span 操作: 
              %a.edit--discussion-group{href: "javascript:;", data:{creator: g.creator, current_user: "#{current_user.name}", group_id: "#{g.id}"}}
                修改
              %a{href: "/rooms/#{g.id}/show_detail"}
                详情
              